<%- include('../template/head')-%>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>
            <!-- All jobs -->
            <h1 class="cover-heading">All Jobs</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Job ID</th>
                        <th>Company Name</th>
                        <th>Job Type</th>
                        <th>Start City</th>
                        <th>Destination</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%locals.job.forEach(function(entry) {%>
                    <tr>
                        <td><%=entry.Job_ID%></td>
                        <td><%=entry.CompanyName%></td>
                        <td><%=entry.JobType%></td>
                        <td><%=entry.StartCity%></td>
                        <td><%=entry.Destination%></td>
                        <td><%=entry.Status%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>

        <!-- Manual Logout Button -->
        <form action="/logout" method="POST">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
            
        

        <%- include('../template/footer')-%>
    </div>
</body>
<script>
    //Set active nav link 
    window.onload = function() {
        document.getElementById('joblsit').classList.add('active');
      };

    function openTab(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
</html>